fasttext
langchain
accelerate
bitsandbytes
peft==0.4.0
transformers
trl==0.4.7
langchain_community
google-search-results
wikipedia
langchain-huggingface
langchain_google_community
PyPDF2
bs4
pypdf
chromadb
